__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

.venv/
env/
venv/
ENV/
*.env

build/
dist/
*.egg-info/
*.egg

*.manifest
*.spec

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store

.ipynb_checkpoints/

htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

*.log
*.pot
*.mo